.label-sm {
  font-size: 12px;
}

.full-width {
    display:block;
}

a:hover {
  text-decoration: none;
}

.progress-bar-skip {
  background-color: #bbbbbb;
}

.badge-danger {
	background: #fff;
	color: #d9534f;
}

.badge-warning {
	background: #fff;
	color: #f0ad4e;
}

.badge-skip {
	background: #fff;
	color: #ddd;
}

.table > tbody{
    word-break: break-word;
}